/* Inter font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Color pallette - Emerald  */
  --primary50: #ecfdf5;
  --primary100: #d1fae5;
  --primary200: #a7f3d0;
  --primary300: #a7f3d0;
  --primary400: #34d399;
  --primary500: #10b981;
  --primary600: #059669;
  --primary700: #047857;
  --primary800: #065f46;
  --primary900: #064e3b;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, "sans-serif";
  font-size: 18px;
}

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sidebar {
  background-color: var(--primary600);
  color: var(--primary50);
  display: none; /* Display using hamburger slide in */
}
.header {
  background-color: var(--primary50);
}
.content {
  background-color: var(--primary100);
  flex: 1;
}

@media screen and (min-width: 500px) {
  .dashboard {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 6fr;
    grid-template-rows: minmax(100px, 1fr) 6fr;
  }
  .sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 18px 24px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .header {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .content {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .sidebar .logoWrapper,
  .sidebar nav,
  .sidebar .settingsWrapper {
    display: grid;
    grid-template-columns: 30px 50px;
    align-items: center;
    row-gap: 15px;
    column-gap: 5px;
  }
  .sidebar .logoWrapper{
    margin-top: 6px;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  .sidebar i,
  .sidebar span {
    cursor: pointer;
  }
}
